.head-theme{
  background: #fff;
  width:177px;
  height:137px;
  padding:12px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  left: -83px;
  top: 66px;
  z-index: 99;
}
.ht-nightOrDay{ font-size: 14px;}
.htn-title{
  height: 32px;
  line-height: 30px;
  color:#999;
  margin-bottom: 0;
}
.htn-title .iconfont{ margin-right: 4px;}
/* head line */
.ht-line{
  margin:16px 0;
  border-top:1px solid #eee;
}

/* 字体, 简体和繁体切换 */
.ht-font-family button,
.ht-font-style button{
  width:50%;
}
.ht-font-style{ margin-top: 8px;}

/* button style */
.htn-btns button{
  padding: 0 15px;
  height: 32px;
  line-height: 30px;
  color: rgba(0,0,0,.65);
  background: #fff;
  border: 1px solid #d9d9d9;
}
.htn-btns button:hover{
  color:#ec7259;
}
.htn-btns .htnb-open{
  border-radius: 4px 0 0 4px;
  border-right:0;
}
.htn-btns .htnb-close{
  border-radius: 0 4px 4px 0;
}
.htn-btns .htnb-active{
  color:#fff;
  background: #ec7259;
  border-color: #ec7259;
}
.htn-btns .htnb-active:hover{
  color:#fff;
  background: #fa9e87;
  border-color: #fa9e87;
}
