.home-content{
  width: 100%;
  /* background: #f9f9f9; */
}
.hc-cont{
  box-sizing: content-box;
  width: 1000px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* content left */
.hcc-left{
  flex-shrink: 0;
  width: 730px;
  height:750px;
  margin-bottom: 24px;
  margin-right: 10px;
  background:#fff;
  border:1px solid #eee;
}
.hccl-cont{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.hccl-comment{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.hccl-recommend{
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
/* content right */
.hcc-right{
  flex-shrink: 0;
  width: 260px;
  height:750px;
  background:#fff;
  border:1px solid #eee;
}