/* this page public style */
.height56{ height: 56px;line-height: 56px;}
.h-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* overflow: hidden; */
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  z-index: 100;
}
.h-header-relative{
  display: block;
  position: relative;
  width:100%;
}
.hh-cont{
  min-width: 1200px;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
}
/* logo content */
.hhc-logo{
  float: left;
  margin: 0 30px;
}
.hhc-logo img{
  vertical-align: middle;
}
/* title content */
.hhc-titles{
  width: 1000px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.hhct-pages a{
  display: inline-block;
  font-size: 17px;
  color: #333;
  padding: 0 20px;
}
.hhct-pages a:hover{
  color:#333;
  background-color: #f2f2f2;
}
/* right content */
.hhc-right{
  float: right;
  margin: 0 16px;
  font-size: 16px;
}
.hhcr-theme{
  display: inline-block;
  margin: 0 8px;
  height: 48px;
  line-height: 48px;
  color: #999;
  font-size: 20px;
  text-align: center;
}
.hhcr-zuan{
  margin: 0 8px;
  width:54px;
}
.hhcr-login span,
.hhcr-register span,
.hhcr-article span{
  display: inline-block;
  height:22px;
  line-height: 22px;
}
.hhcr-login{
  padding:8px 24px;
  color:#969696;
  border:1px solid transparent;
}
.hhcr-login:hover{ color:#111;}
.hhcr-register{
  margin-left: 8px;
  padding:8px 24px;
  color: #ec7259;
  border-radius: 50px;
  background-color: #fff;
  border:1px solid #ec7259;
}
.hhcr-register:hover{ color:#ec7259;background-color: #fef8f7;}
.hhcr-article{
  margin-left: 8px;
  padding:8px 16px;
  color: #fff;
  border-radius:50px;
  background-color: #ec7259;
  border:1px solid #ec7259;
}
.hhcr-article:hover{ color:#fff;background-color: #ed7961;}
.hhcr-article i{
  margin-right: 8px;
  font-size: 16px;
  line-height: 16px;
}
/* head search */
.hhct-search{
  margin-left: 30px;
  height:56px;
  line-height:56px;
  position: relative;
}
.hhcts-input{
  padding: 0 40px 0 20px;
  width: 240px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 40px;
  background: #eee;
  transition: width .5s;
  transition-delay: 0.1s;
}
.hhcts-input::placeholder{ color:#969696;}
.hhcts-btn{
  width: 30px;
  height: 30px;
  border-radius:15px;
  color: #969696;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 14px;
  right: 5px;
  cursor: pointer;
}
/* search focus style */
.hhcts-focus{ width: 320px;}
.hhcts-focus + i{ background: #969696;}
.hhcts-focus + i:before{ color: #fff;}
