.home-footer{
  width:100%;
  position: sticky;
  bottom: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 -1px 3px rgba(26,26,26,.1);
  z-index: 100;
}
.home-footer-box{
  width:1000px;
  margin:auto;
  padding:10px 16px;
}
.h-footer-left{ 
  position: relative;
}
.h-footer-left textarea{
  width: 200px;
  height: 36px;
  /* line-height: 20px; */
  font-size: 16px;
  resize: none;
  margin-right: 16px;
  padding: 8px 18px;
  border-radius: 18px;
  border: none;
  background: #f2f2f2;
  transition: all .2s cubic-bezier(.19,.4,.17,.85);
  opacity: 0;
  position: relative;
  z-index: 2;
}
.h-footer-left .real-input{
  width: 200px;
  height: 36px;
  /* line-height: 20px; */
  font-size: 16px;
  margin-right: 16px;
  padding: 8px 18px;
  border-radius: 18px;
  border: none;
  background: #f2f2f2;
  transition: all .2s cubic-bezier(.19,.4,.17,.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.h-footer-left textarea::placeholder, .like-placeholder{
  color:#969696;
  font-size: 14px;
  line-height: 23px;
}
.like-placeholder{
  line-height: 18px;
}
.h-footer-left .icon-xiaolian{
  position: absolute;
  right: 16px;
  bottom: 8px;
  font-size: 20px;
  margin-right: 12px;
  color: #969696;
  cursor: pointer;
  z-index: 3;
}
.hfr-more{ position: relative; }
.hfr-comment,.hfr-praise,.hfr-more{
  color:#969696;
  cursor: pointer;
  margin-right: 12px;
}
.hfr-comment .iconfont, .hfr-praise .iconfont{
  font-size: 22px;
  margin-right: 5px;
}
/* 发布和取消按钮 */
.focus-publish,.focus-cancel{
  font-size: 14px;
  padding: 4px 12px;
  border: 1px solid #999;
  border-radius:22px;
}
.focus-publish{
  color: #fff;
  background-color: #ec7259;
  border-color: #ec7259;
}
.focus-cancel{ 
  color:#999;
  margin-left: 8px;
}
.focus-cancel:hover{ color:#666;}
/* textarea focus style */
.h-footer-left .input-active{
  width: 560px;
  height: 56px;
  padding-right: 80px;
  border-radius: 4px;
}
.input-active::after{
  display: inline-block;
  content:"|";
  animation: blink 1s infinite steps(1, start);
}
@keyframes blink {
  0% { color:transparent;}
  50%{ color: black;}
  100%{ color: transparent;}
}