*{line-height: 1;padding: 0;margin: 0;}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
i{ font-style: normal;}
a{ text-decoration: none;cursor:pointer;}
ul,li{ list-style-type: none;}
button{ cursor:pointer;outline: none;border: 1px solid #eee;background: #fff;padding:8px 16px;border-radius:4px;}

input[type='text'],
input[type='password'],
input[type='number'],
textarea { -webkit-appearance: none;}