.emoji-box{
  bottom: 45px;
  right: -135px;
  padding:12px 10px;
  z-index:9999;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}
.emoji-ul{
  width:326px;
  height:160px;
}
.emoji-li{ float: left;border-radius:4px;}
.emoji-li span{
  top:-1px !important;
  left:0 !important;
}
.emoji-li:hover{
  background: #eee;
}

/* emoji dotes */
.emoji-dotes{
  height:32px;
}
.emoji-dotes-item{
  width: 8px;
  height: 8px;
  background-color: #8e8e8e;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s;
}
.emoji-dotes-item-active{ background-color: rgba(0,0,0,.65);}
